* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}

.create-and-share {
  width: 100%;
}
.main-card-one-bottom {
  color: #fff;
  background-color: #000;
}
